<!DOCTYPE html>
<html xmlns:th="https://www.thymeleef.org">

<head>

</head>

<body>
<a th:href="@{/getAllStaff}"><h1>All Staff</h1></a>

<h1> Add New Staff </h1>
<form method="post" th:object="${addNewStaff}" th:action="@{/submit}">

   <label >Staff Name</label><br>
   <p  style="color:red" th:errors="*{name}"></p>
   <input type="text"  placeholder="Staff Name" th:field="*{name}"><br>
   <br>
   <label >Staff Position</label><br>
   <p style="color:red" th:errors="*{position}"></p>
   <input type="text"  placeholder="Staff Position" th:field="*{position}"><br>
   <br>
   <label >Staff Salary</label><br>
   <input type="text"  placeholder="Staff Salary" th:field="*{salary}"><br>

   <br>
   <input type="hidden" th:field="*{id}">
   <br>
   <input type="submit" value="Submit">
</form>

</body>
</html>